<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>demo_JFreeChart</display-name>
 <context-param>
  <param-name>contextConfigLocation</param-name>
  <param-value>/WEB-INF/conf/applicationContext.xml</param-value>
 </context-param>
 
 
   <servlet>
    <servlet-name>DisplayServlet</servlet-name>
    <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
  </servlet>

 <servlet-mapping>
    <servlet-name>DisplayServlet</servlet-name>
    <url-pattern>/Display</url-pattern>
  </servlet-mapping>
  
 
 
  
 <context-param>
  <param-name>webAppRootKey</param-name>
  <param-value>app.root</param-value>
 </context-param>
 <filter> 
    <filter-name>fileuploadFilter</filter-name> 
    <filter-class>com.filter.FileUploadFilter</filter-class> 
</filter> 
<filter-mapping> 
    <filter-name>fileuploadFilter</filter-name> 
    <url-pattern>/RiskReport/*</url-pattern>
</filter-mapping>
<filter-mapping> 
    <filter-name>fileuploadFilter</filter-name> 
    <url-pattern>/riskReport/*</url-pattern>
</filter-mapping>
 <filter>
  <filter-name>struts2</filter-name>
  <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>struts2</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <filter>  
      <filter-name>NoCacheFilter</filter-name>  
      <filter-class>com.filter.NoCacheFilter</filter-class>  
  </filter>  
  <filter-mapping>  
      <filter-name>NoCacheFilter</filter-name>  
      <url-pattern>/*</url-pattern>  
  </filter-mapping>
 <listener>
  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
 </listener>
 <listener>
  <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
 </listener>
 <session-config>
  <session-timeout>14400</session-timeout>
 </session-config>
 <welcome-file-list>
  <welcome-file>loginQuick.jsp</welcome-file>
 </welcome-file-list>
 <!--  <error-page>
  <error-code>500</error-code>
  <location>/Services/500.jsp</location>
 </error-page>-->
 <error-page>
  <error-code>404</error-code>
  <location>/Services/404.jsp</location>
 </error-page>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
